# Core Libraries
Pandas
Numpy
Matplotlib
Seaborn

# NLP and Text Processing
NLTK
Wordcloud
Collections
Leia-br  # LeIA library for brazilian sentiment analysis

# Machine Learning Libraries
Scikit-Learn
Xgboost
Lightgbm
Catboost

# Visualization Enhancements
Matplotlib-inline  # Needed if running in Jupyter to ensure %matplotlib inline works correctly

